<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="outer-container">
        <div class="image-container">
            <img src="Welcome.jpg" alt="Welcome">
        </div>
        <div class="container">
            <form action="">
                <h1>Hey Queen!</h1>
                <p class="register-text">Register with your email and password to get on board</p>
                <div class="custom-input-box"> 
                    <label for="email">Email Address</label>
                    <input type="email" id="email" placeholder="Email" required>
                </div>
                <div class="custom-input-box"> 
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Password" required>
                </div>
                <div class="custom-input-box"> 
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" id="confirm_password" placeholder="Confirm Password" required>
                </div>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
    <script src="./login.js"></script>
</body>
</html>