<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Destination</title>
    <link rel="stylesheet" href="travel.css">
</head>
<body>

    <header>
        <nav>
            <div class="logo">Logo</div>
            <div class="menu">
                <a href="#">About</a>
                <a href="#">Discover</a>
                <a href="#">Connect</a>
            </div>
            <div class="user">User</div>
        </nav>
    </header>

    <div class="content" id="textOld">
        <div class="text-container">
            <h1>Explore the world, one adventure at a time. Let's go!</h1>
            <p>With the right travel partner by your side, every destination becomes a playground of joy and shared experiences.</p>
        </div>
        
        <div class="image-container">
            <img src="OBJECTS2.png" alt="Your Image">
        </div>
    </div>
    <div class="content" id="companion">
        <div class="text-container" id="textContainer">
            <h2>Here are<br>your companions</h2>
        </div>
        
        
        <div class="image-container">
            <img src="OBJECTS.png" alt="Your Image">
        </div>
    </div>
    <div class="form-container" id="form-container">
        <h2>Plan Your Next Adventure</h2>
        <form id="registerForm" action="#" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required><br><br>
            <label for="source">Source:</label>
            <input type="text" id="source" name="source" required><br><br>
            <label for="destination">Destination:</label>
            <input type="text" id="destination" name="destination" required><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>

    <hr class="footer-separator">
    <footer>
        <div class="footer-left">
            <div class="footer-links">
                <a href="#">About Us</a>
                <a href="#">How to Use</a>
                <a href="#">Team</a>
                <a href="#">Legal</a>
            </div>
        </div>
        <div class="footer-right">
            <h3 class="follow-us">Follow Us:</h3>
            <div class="footer-links">
                <a href="#">Twitter</a>
                <a href="#">LinkedIn</a>
                <a href="#">GitHub</a>
                <a href="#">Email</a>
                <a href="#">Phone Number</a>
            </div>
        </div>
    </footer>
    <script>
        const companion = document.getElementById('companion');
        companion.style.display = 'none'
        document.getElementById('registerForm').addEventListener('submit', async (event) => {
            event.preventDefault();
            const formData = new FormData(event.target);
            const registerData = {
                name: formData.get('name'),
                date: formData.get('date'),
                source: formData.get('source'),
                destination: formData.get('destination')
            };
            console.log(registerData);
            const response = await fetch('http://localhost:5500/travel/travels', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(registerData)
            });
            const response2 = await fetch('http://localhost:5500/travel/matching', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(registerData)
            });
            const data = await response.json();
            const data2 = await response2.json();
            console.log(data);
            const formContainer = document.getElementById("form-container");
            const textOld = document.getElementById('textOld');
            textOld.style.display = 'none'
            formContainer.style.display = 'none';
            // window.location.href = 'http://127.0.0.1:5501/WorkSheHack/view/match.html'; 
            console.log(data2);
            companion.style.display = 'block';  
            const textContainer = document.getElementById("textContainer");
            const h3Element = document.createElement('h3');
            h3Element.textContent = data2[0].name;
            textContainer.appendChild(h3Element);
        }); 
    </script>
</body>
</html>
